<div class="container">
    <div class="players-wrapper">
        @if(players.length > 0) {
        @for(player of players; let i = $index; track i) {
        <div [routerLink]="'/user-profile/' + player.id" class="player-group">
            <div class="player-icon">
                <p>{{ player.class.split("")[0] }}</p>
            </div>
            <span class="player-name">{{ player.username }}</span>
        </div>
        }} @else {
        <div class="no-players-wrapper">
            <p>You have currently have 0 players in this campaign.</p>
            <div class="no-players-btns">
                <button type="button">Invite Players</button>
            </div>
        </div>
        }
    </div>
</div>