.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.overview-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.campaigns-wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 5px;

    .campaign-card {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 150px;
        background-color: white;
        border: 1px solid #a8a8a8;
        border-radius: 5px;
        padding: 15px 20px;
        gap: 10px;
        overflow: hidden;

        .campaign-card-footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .card-button {
                padding: 3px 10px;
            }
        }
    }

    .campaign-card-left-active {
        border-left: 5px solid rgb(0, 208, 0);
    }

    .campaign-card-left-inactive {
        border-left: 5px solid rgb(222, 0, 0);
    }
}
