<!-- <div class="header">
    <h1>Test</h1>
</div> -->
<div class="container">
    <div class="headers">
        <h3>Campaigns</h3>
        <h3>Characters</h3>
    </div>

    <div class="active wrapper">
        <div class="campaigns">
            <div class="campaign"> Test 1 </div>
            <div class="campaign"> Test 2 </div>
            <div class="campaign"> Test 3 </div>
            <div class="campaign"> Test 4 </div>
            <div class="campaign"> Test 5 </div>
            <div class="campaign"> Test 6 </div>
        </div>
        <div class="characters">
            <div class="character"> Test 1 </div>
            <div class="character"> Test 2 </div>
            <div class="character"> Test 3 </div>
        </div>
    </div>

    <div class="headers">
        <h3>Community Board</h3>
    </div>
    <div class="community wrapper">
        <div class="community-board">
            <div class="community-item">
                <div class="left-side">
                    <div class="community-image"> img</div>
                    <div class="community-text-group">
                        <div class="title">
                            <p>Title</p>
                        </div>
                        <div class="description">
                            <p
                                >Sample text about needing people to join this
                                session that we will be having soon!</p
                            >
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <button>O</button>
                    <button>></button>
                </div>
            </div>
            <div class="community-item">
                <div class="left-side">
                    <div class="community-image"> img</div>
                    <div class="community-text-group">
                        <div class="title">
                            <p>Title</p>
                        </div>
                        <div class="description">
                            <p
                                >Sample text about needing people to join this
                                session that we will be having soon!</p
                            >
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <button>O</button>
                    <button>></button>
                </div>
            </div>
            <div class="community-item">
                <div class="left-side">
                    <div class="community-image"> img</div>
                    <div class="community-text-group">
                        <div class="title">
                            <p>Title</p>
                        </div>
                        <div class="description">
                            <p
                                >Sample text about needing people to join this
                                session that we will be having soon!</p
                            >
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <button>O</button>
                    <button>></button>
                </div>
            </div>
            <div class="community-item">
                <div class="left-side">
                    <div class="community-image"> img</div>
                    <div class="community-text-group">
                        <div class="title">
                            <p>Title</p>
                        </div>
                        <div class="description">
                            <p
                                >Sample text about needing people to join this
                                session that we will be having soon!</p
                            >
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <button>O</button>
                    <button>></button>
                </div>
            </div>
        </div>

        <div class="btn-group-right">
            <button>Create</button>
            <button>View More</button>
        </div>
    </div>

    <div class="headers">
        <h3>Game Shelf</h3>
    </div>
    <div class="wrapper">
        <button>Players Handbook</button>
        <button>DND 5E</button>
    </div>
</div>
