<!-- <div class="header">
    <h1>Test</h1>
</div> -->
<div class="container">
    <div class="overview-wrapper">
        <h2>Overview Campaigns</h2>
        <div class="campaigns-wrapper">
            @for(campaign of campaigns; track campaign.id){
            <div
                class="campaign-card"
                [ngClass]="{
                    'campaign-card-left-active': campaign.active,
                    'campaign-card-left-inactive': !campaign.active,

                }"
            >
                <div class="campaign-card-header">
                    <h3>{{ campaign.title }}</h3>
                </div>
                <div class="campaign-card-body">
                    <p>{{ campaign.description }}</p>
                </div>
                <div class="campaign-card-footer">
                    <button
                        type="button"
                        class="card-button"
                        routerLink="/campaign/123"
                        >view</button
                    >
                </div>
            </div>
            }
        </div>
    </div>
</div>
