.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh; // This makes the container fill the viewport height at minimum
  height: 100%; // This allows the container to grow with the content
}

.aside-container {
  box-shadow: 1px 0px 20px #00000014;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-wrapper {
  margin-top: auto;
}
