.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh; // This makes the container fill the viewport height at minimum
    height: 100%; // This allows the container to grow with the content
}

.navbar-container {
    width: 100%;
}

.aside-container {
    box-shadow: 1px 0px 20px #00000014;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.route-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 50px 0px;
    padding: 0px 50px;
}

.footer-wrapper {
    margin-top: auto;
    width: 100%;
}