<div class="under-content"> </div>
<div class="login-container">
    <!-- <div class="login-header">
        <h1>Login</h1>
    </div> -->
    <div class="login-body">
        <div class="login-options">
            <form [formGroup]="this.form">
                <div class="field login-email">
                    <label class="label">
                        <span>Email or Username</span>
                        <input
                            formControlName="username_email"
                            type="text"
                        />
                    </label>
                </div>

                <div class="field login-password">
                    <label class="label">
                        <div class="pw-group">
                            <span>Password</span>
                            <button
                                class="show-password"
                                (click)="show_password()"
                            >
                                {{
                                    (password_shown ? 'Hide' : 'Show') +
                                        ' ' +
                                        'password'
                                }}
                            </button>
                        </div>
                        <input
                            formControlName="password"
                            [type]="password_shown ? 'text' : 'password'"
                        />
                    </label>
                    <div class="forgot-password-link">
                        <button>Forgot password</button>
                    </div>
                </div>
            </form>
            <!-- <div>
                <label>
                    <input type="checkbox" />
                    <span>Remeber me</span>
                </label>
            </div> -->

            <div class="login-btn-group">
                <div class="login-btn">
                    <button
                        (click)="this.login()"
                        type="button"
                        >Login</button
                    >
                </div>
                <hr class="splitter" />
                <div class="alt-logins">
                    <div class="alt-login-row">
                        <div class="alt-btn-group">
                            <button type="button">Sign in with Google</button>
                            <button type="button"
                                >Sign in with Microsoft</button
                            >
                        </div>
                        <div class="alt-btn-group">
                            <button type="button">Sign in with Facebook</button>
                            <button type="button">Sign in with Apple</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="under-content">
    <p>Don't have an account yet?</p>
    <a routerLink="/signup">Sign Up</a>
</div>
