:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 469px;
    width: 480px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 1px #99999972;
    padding: 25px 25px 32px;
}

.login-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin-top: 25px;
}

.login-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-options {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .field {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
}

.splitter {

}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    span {
        font-size: 15px;
        font-weight: 600;
    }

    a {
        font-size: 12px;
    }
}

.show-password {
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: rgb(102, 154, 250);
}

.forgot-password-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        cursor: pointer;
        color: rgb(102, 154, 250);
        font-size: 12px;
        font-weight: 500;
        background-color: transparent;
        border: none;
    }
}

.login-password,
.login-email {
    input {
        height: 40px;
        // width: auto;
        border: 1px solid #999;
        border-radius: 4px;
        padding: 0px 10px;
        font-size: 18px;
    }
}

.pw-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
