.campaigns-none {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 205, 43);
    padding: 25px;
    border-radius: 5px;

    .btn-group {
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin-top: 15px;

        button {
            padding: 5px;
        }
    }
}

.campaign-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 25px;

    .campaign-wrapper {
        display: flex;
        flex-direction: column;
        background-color: #d1bb98;
        width: 200px;
        height: 200px;
        padding: 25px;
        border-radius: 5px;
        cursor: pointer;

        h3 {
            text-align: center;
        }
    }
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 25px;

    button {
        padding: 5px 10px;
    }
}