.sidebar-container {
  width: 250px;
  height: 100%;
}

.btn-collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  height: 50px;
  padding: 0px 18px;

  // color: white;
  button {
    cursor: pointer;
    padding: 5px;

    // &:hover {
    //   background-color: #333;
    // }
  }
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 50px;
  padding: 0px 18px;
  cursor: pointer;

  &:hover {
    background-color: #333;
    color: white;
  }
}

.sidebar-close {
  width: 50px;

  .sidebar-item {
    display: none;
  }
}
