<div
    class="sidebar-container"
    [ngClass]="{
        'sidebar-close': !this.open
    }"
>
    <div
        class="btn-collapse"
        [ngStyle]="{
            'align-items': this.open ? 'flex-end' : 'center'
        }"
    >
        <button (click)="this.open_close()">
            <fa-icon [icon]="bar"></fa-icon>
        </button>
    </div>
    <div
        class="sidebar-item"
        [ngStyle]="{
            'justify-content': this.open ? 'flex-start' : 'center'
        }"
    >
        <fa-icon [icon]="icon"></fa-icon>
        @if(this.open) {
        <p>test 1</p>
        }
    </div>
    <!-- <div class="sidebar-item">
        <p>test 2</p>
    </div>
    <div class="sidebar-item">
        <p>test 3</p>
    </div>
    <div class="sidebar-item">
        <p>test 4</p>
    </div>
    <div class="sidebar-item">
        <p>test 5</p>
    </div> -->
</div>
