<div class="under-content"> </div>
<div class="login-container">
    <!-- <div class="login-header">
        <h1>Login</h1>
    </div> -->
    <div class="login-body">
        <div class="login-options">
            <div class="field login-email">
                <label class="label">
                    <span>Email</span>
                    <input />
                </label>
            </div>

            <div class="field login-password">
                <label class="label">
                    <div class="pw-group">
                        <span>Password</span>
                        <button
                            class="show-password"
                            (click)="show_password()"
                        >
                            {{
                                (password_shown ? 'Hide' : 'Show') +
                                    ' ' +
                                    'password'
                            }}
                        </button>
                    </div>
                    <input [type]="password_shown ? 'text' : 'password'" />
                </label>
                <div class="forgot-password-link">
                    <button>Forgot password</button>
                </div>
            </div>
            <!-- <div>
                <label>
                    <input type="checkbox" />
                    <span>Remeber me</span>
                </label>
            </div> -->

            <div class="login-btn-group">
                <div class="login-btn">
                    <button type="button">Create Account</button>
                </div>
                <hr class="splitter" />
                <div class="alt-logins">
                    <div class="alt-login-row">
                        <div class="alt-btn-group">
                            <button type="button">Sign Up with Google</button>
                            <button type="button"
                                >Sign Up with Microsoft</button
                            >
                        </div>
                        <div class="alt-btn-group">
                            <button type="button">Sign Up with Facebook</button>
                            <button type="button">Sign Up with Apple</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="under-content"> </div>
